body {
    background-color: rgb(31, 212, 197); /* màu nền cho toàn trang */
}

.welcome {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

.register {
    background-color: aliceblue;
    display: flex;
    flex-direction: column; 
    margin-left: 5%;            
    margin-right: 5%;
    padding: 45px;
    border: 3px solid #d7e4e7;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.select {
  width: 200px;
  padding: 10px 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
  color: gray;
}

.select:hover{
    border-color: rgb(12, 95, 146);

}

.nhap{
    padding: 10px 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    outline: none;
    transition: border-color 0.3s; 
    margin-top: 5px;
}

.nhap:hover{
    border-color: rgb(12, 95, 146);
}

.button {
    padding: 10px 10px;
    border-radius: 6px;
    border: 2px solid #c4ced1;
    outline: none;
    color: white;
    font-weight: bold;
    background-color: rgb(11, 98, 228);
    margin-top: 12px;
}

.button:hover{
    border-color: rgb(12, 95, 146);
}