body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hamburger {
    width: 20px;
    cursor: pointer;
    margin-top: 8%;
    margin-left: 70%;
}

.hamburger div {
    height: 4px;
    background: white;
    margin: 4px 0;
    transition: 0.3s;
}

/* Bảng menu ẩn ban đầu */
.menu {
    position: absolute;
    top: 100px;
    left: 0;
    width: 200px;
    position: fixed;
    background-color: #043175;
    border: 1px solid #ccc;
}


.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color:white;
}

.menu li {
    padding: 10px;
}

